<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="items">
        <h1 class="title-head">The best blog of Afghan food </h1>
        <li>
          <a  href="/">Home</a>
        </li>
        <li class="nav-item">
          <a  href="/Newpost">New Post</a>
        </li>
      </div>
    </div>
  </body>
</html>
